<div class="center_div">
  <div class="row">
  <div class="text-center form-group col-xs-12">
    <h1>Search Drugs</h1>
    <%= search_form_for @q do |f| %>
      <%= f.search_field :title_start, placeholder: "Search drugs...", class: "form-control" %>
      <%= button_tag(type: "submit", class: "btn btn-default") do %>
          <i class="fa fa-search"></i>
      <% end %>
    <% end %>
  </div>
  </div>

  <div class="row">
    <div class="col-xs-9">
    <% unless params[:q].nil? %>
    <div class="panel panel-default panel-transparent">
      <% @drugs[0..30].each do |drug| %>
      <div class="panel-body">
        <%= image_tag drug.description, size: "100x90"%>
        <div class="product-info pull-right">
          <h4><%= link_to "#{drug.title}, #{drug.forma} ", drug_path(drug) %></h4>
          <h5><%= drug.manufacturer %></h5>

        </div>
      </div>
        <hr />
        <% end %>
    </div>
      <% else %>
        <h4>Some Random Stuff</h4>
    <% end %>
    </div>
  </div>
</div>
