<h1>Search Drugs</h1>
<%= search_form_for @q do |f| %>
  <%= f.search_field :title_start, placeholer: "type in drug name eg. Yodamarin" %>
  <%= f.submit "Search.." %>
<% end %>

<% unless params[:q].nil? %>
  <% @drugs[0..30].each do |drug| %>

    <h4><%= drug.title %></h4>
    <p><%= "#{drug.description[0..10]}..."%></p>
    <% end %>
  <% else %>
    <h4>Some Random Stuff</h4>
<% end %>
